* {
  box-sizing: border-box;
}

img {
  height: 150px;
  width: 50%;
}

.pet-card {
  margin: 10px;
  border: 1px solid blueviolet;
  box-shadow: 10px 10px 10px;
  height: 400px;
}

.buttons {
  margin: 20px 0;
}

.type {
  
}
/* 
.type-cat {
  background-color: lightgreen;
} */
